---
layout: default
title: "The government's salary"
map:
    map: /maps/entiteti.svg
    group: entities
    key: name-1
urls:
    Brcko: /brcko-distrikt/dailybread.html
    Federacija Bosna i Hercegovina: /federacija-bih/dailybread.html
    Republika Srpska: /republika-srpska/dailybread.html
---

<div class="span6 pull-right">
  <div id="map" align="left"{% for obj in page.map %} {% if obj[0] != 'class' %}data-{% endif %}{{obj[0]}}="{% if obj[0] == 'map' %}{{site.subdir}}{% endif %}{{obj[1]}}"{% endfor %}></div>
</div>

<div class="row">
  <div class="span6">
    <h2>{{page.title}}</h2>
    <p class="lead">To calculate the government's salary (taxes paid by you or on your behalf to the government) we first need to know where you live. In Bosnia and Herzegovina the government is paid a different amount depending on where you live.</p>

    <p>We have to make some assumptions in order to present this to you <a class="btn-link btn-mini" href="{{site.subdir}}/faq.html">Read our faq &raquo;</a></p>

    <div style="position: absolute; top:195px; right:320px; z-index:5; text-align:center;">
      <img style="margin-left: 40px; margin-bottom: -5px;" src="{{site.subdir}}/img/arrow-right.png">
      <h3 class="note">Where do <br />you live?</h3>
    </div>
  </div>
</div>

<div id="dailybread"></div>

<script type="text/javascript" src="{{site.subdir}}/js/maps/jquery.map.js"></script>
<script type="text/javascript">
  $(function () {

  var urls = { {% for url in page.urls %}
    '{{url[0]}}': { url: '{{site.subdir}}{{url[1]}}' }{% unless forloop.last %},{% endunless %}
  {% endfor %} };
  $('#map').cartograph({
    click: function(elem, key) {
      window.location = urls[elem[key]].url;
    }
  });
  });
  </script>
