<script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/vendor/jquery.qtip.min.js"></script>
<script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/vendor/jquery.history.js"></script>
<script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/vendor/vis4.js"></script>
<script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/vendor/base64.js"></script>
<script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/vendor/Tween.js"></script>
<script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/vendor/bubbletree/2.0/bubbletree.js"></script>
<script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/aggregator.js"></script>	
<script type="text/javascript" src="{{site.subdir}}/js/libs/bubbletree.cofog.js"></script>
	
<link rel="stylesheet" type="text/css" href="http://assets.openspending.org/openspendingjs/master/lib/vendor/bubbletree/1.0/bubbletree.css" />
