---
layout: default
---

<div class="span6 pull-right">
  <div id="map" align="left"{% for obj in page.map %} {% if obj[0] != 'class' %}data-{% endif %}{{obj[0]}}="{{obj[1]}}"{% endfor %}></div>
</div>

<div class="row">
  <div class="span6">
    &nbsp;
    <h2>{{page.title}}</h2>
    {{ content }}
  </div>
</div>

<div class="row">
  <div class="span12" style="margin-top:-80px;">
  <div id="preloader" style="text-align: center; padding: 100px">
     <img src="/img/ajax-loader.gif" style="vertical-align:top" /> &nbsp;
     <span class="txt">ucitavanje podataka...</span>
  </div>

  <div class="bubbletree-wrapper">
    <div id="bubbletree" class="bubbletree"></div>
  </div>
  </div>
</div>
{% include scripttags.html %}
<script type="text/javascript" src="/js/maps/jquery.map.js"></script>
<script type="text/javascript">
if ($.browser.msie) {
   alert("Vaš web pretraživač je Internet Explorer. Za optimalni prikaz naših podataka preporučujemo upotrebu FireFox ili Chrome pretraživača.");
}
</script>
<script type="text/javascript">
  $(function() {
      var urls = { {% for url in page.urls %}
          '{{url[0]}}': { url: '{{url[1]}}' }{% unless forloop.last %},{% endunless %}
      {% endfor %} };
      $('#map').cartograph({
          click: function(elem, key) {
              window.location = urls[elem[key]].url;
          }
      });

      var $tooltip = $('<div class="tooltip">Tooltip</div>');
      $('.bubbletree').append($tooltip);
      $tooltip.hide();
			
      var dataLoaded = function(data) {
        $('#preloader').remove();
        window.bubbleTree = new BubbleTree({
          data: data,
          container: '#bubbletree',
          bubbleType: 'icon',
          bubbleStyles: {
            'Cofog1':  BubbleTree.Styles.Cofog1,
            'Cofog2':  BubbleTree.Styles.Cofog2,
            'Cofog3': BubbleTree.Styles.Cofog3
          },
          clearColors: false, // remove all colors coming from OpenSpending API
          rootPath: '/icons/',
          tooltip: {
            qtip: true,
            delay: 800,
            content: function(node) {
              return [node.label, '<div class="desc">'+(node.description ? node.description : 'No description given')+'</div><div class="amount">'+node.famount+' KM</div>'];
            }
          }
        });
      };
			
      // call openspending api for data
      new OpenSpending.Aggregator({
        apiUrl: 'http://openspending.org/api',
        dataset: '{{page.dataset}}',
        rootNodeLabel: 'Total',
        drilldowns: ['Cofog1', 'Cofog2', 'Cofog3'],
        {% if page.cuts %}cuts: ['{{page.cuts|join:"', '"}}'],{% endif %}
        callback: dataLoaded
      });
    });
  </script>
