---
layout: default
---

<div class="span6 pull-right">
  <div id="map" align="left"{% for obj in page.map %} {% if obj[0] != 'class' %}data-{% endif %}{{obj[0]}}="{{obj[1]}}"{% endfor %}></div>
</div>

<div class="row">
  <div class="span6">
    &nbsp;
    <h2>{{page.title}}</h2>
    {{ content }}
  </div>
</div>

<div class="row">
  <div class="bubbletree-wrapper">
    <div id="bubbletree" class="span12 bubbletree" style="margin-top:-80px;">
      <div id="preloader" style="text-align: center; padding: 100px">
	<img src="/img/ajax-loader.gif" style="vertical-align:top" /> &nbsp;
	<span class="txt">učitavanje podataka...</span>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/vendor/jquery.qtip.min.js"></script>
<script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/vendor/jquery.history.js"></script>
<script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/vendor/vis4.js"></script>
<script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/vendor/base64.js"></script>
<script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/vendor/Tween.js"></script>
<script type="text/javascript" src="/js/libs/openspending.aggregator.js"></script>
<script type="text/javascript" src="/js/libs/openspending.icons.js"></script>
<script type="text/javascript" src="/js/libs/bosnian.icons.js"></script>
<script type="text/javascript" src="/js/libs/openspending.colors.js"></script>
<script type="text/javascript" src="/js/libs/openspending.amounts.js"></script>
<script type="text/javascript" src="/js/libs/accounting.js"></script>
<script type="text/javascript" src="/js/libs/bubbletree.js"></script>
<script type="text/javascript" src="/js/libs/jquery.bubbletree.js"></script>
<script type="text/javascript" src="/js/maps/jquery.map.js"></script>
<link rel="stylesheet" type="text/css" href="http://assets.openspending.org/openspendingjs/master/lib/vendor/bubbletree/1.0/bubbletree.css" />
<link rel="stylesheet" type="text/css" href="/css/tooltips.css" />
<script type="text/javascript">
if ($.browser.msie) {
   alert("Vaš web pretraživač je Internet Explorer. Za optimalni prikaz naših podataka preporučujemo upotrebu FireFox ili Chrome pretraživača.");
}
</script>
<script type="text/javascript">
  $(function() {
     var urls = { {% for url in page.urls %}
          '{{url[0]}}': { url: '{{url[1]}}' }{% unless forloop.last %},{% endunless %}
      {% endfor %} };
      $('#map').cartograph({
          click: function(elem, key) {
              window.location = urls[elem[key]].url;
          }
      });

      $('#bubbletree').bubbletree({
          data: { dataset: 'bosnia-and-herzegovina',
                  drilldowns: ['Cofog1', 'Cofog2', 'Cofog3'],
                  cuts: { {% for cut in page.cuts %}'{{cut[0]}}':'{{cut[1]}}'{% unless forloop.last %},{% endunless %}{% endfor %} }
          },
          style: {
              icons: {
                  path: '/icons/'
              }
          }
      });
  });
  </script>
