<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="Pracenje budzeta u Bosni i Hercegovini">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="http://assets.openspending.org/branding/fonts/opensans/stylesheet.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="js/libs/modernizr-2.5.3.min.js"></script>
  
  <script src="http://kartograph.org/js/raphael.min.js"></script>
  <script src="https://raw.github.com/kartograph/kartograph.js/master/dist/kartograph.js"> </script>
  <!--adding: Kenan  -->
  <script src="http://kartograph.org/js/chroma.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
  <script src="https://github.com/downloads/misoproject/dataset/miso.ds.deps.min.0.2.1.js"></script>
  <script src="jquery.qtip.js"></script>
  <!--end adding: Kenan  -->
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "d094536f-59d9-4589-b0d0-db9a4bb1aa1f"});</script>
</head>
<body>
  <header>
    <div class="container">
      <div id="logo">
        <a href="/">
          <img src="/img/logo.png" alt="{{ site.title }}" />
        </a>
      </div>
      <nav>
        <ul class="nav nav-tabs">
          <li><a href="about.html">O nama</a></li>
          <!--<li><a href="cantons.html">Kantoni</a></li> -->
	  <li><a href="index.html">Pregled budžeta</a></li>
          <!--<li><a href="federation.html">Federacija BiH</a></li>
          <li><a href="state.html">BiH</a></li> -->      
        </ul>
      </nav>
      <script type="text/javascript">
        $(function() {
          $('ul.nav-tabs a').each(function(i,el) {
            if (window.location.href.indexOf($(el).attr('href')) > 0) {
		      $(el).addClass('active');
            }
          });
        });
      </script>
    </div>
  </header>

  <div class="container">
    {{ content }}
  </div>

  <footer>
    <div class="inner">
      <div class="container">
        <div class="pull-right">
          <a href="http://cpi.ba"><img src="/img/cpi_small.png" alt="CPI fondacija"></a>
          </br>
          </br>
          	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='st_googleplus_large' displayText='Google +'></span>
		<span class='st_facebook_large' displayText='Facebook'></span>
		<span class='st_twitter_large' displayText='Tweet'></span>
		<span class='st_blogger_large' displayText='Blogger'></span>
        </div>
        <div class="span6">
          <p>Ovo je projekt <a href="http://cpi.ba">Fondacije CPI</a>, u saradnji sa <a href="http://okfn.org">Open Knowledge
            Foundation</a> koji finansira <a href="http://ned.org">National Endowment for Democracy</a>.</p>
        </div>
      </div>
    </div>
  </footer>


  <script>
    var _gaq=[['_setAccount','UA-8271754-57'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>








