---
layout: bubbletree
map:
    map: /maps/entities-cantons.svg
    group: opstine
    key: name-2
urls:
    Banja Luka: /republika-srpska/opstine/banja_luka.html
    Bileca: /republika-srpska/opstine/bileca.html
    Bratunac: /republika-srpska/opstine/bratunac.html
    Brod: /republika-srpska/opstine/brod.html
    Celinac: /republika-srpska/opstine/celinac.html
    Derventa: /republika-srpska/opstine/derventa.html
    Doboj: /republika-srpska/opstine/doboj.html
    Foca: /republika-srpska/opstine/foca.html
    Gacko: /republika-srpska/opstine/gacko.html
    Grad Bijeljina: /republika-srpska/opstine/grad_bijeljina.html
    Grad Trebinje: /republika-srpska/opstine/grad_trebinje.html
    Gradiska: /republika-srpska/opstine/gradiska.html
    Istocno Novo Sarajevo: /republika-srpska/opstine/istocno_novo_sarajevo.html
    Istocno Sarajevo: /republika-srpska/opstine/istocno_sarajevo.html
    Kotor Varoš: /republika-srpska/opstine/kotor_varos.html
    Kozarska Dubica: /republika-srpska/opstine/kozarska_dubica.html
    Laktaši: /republika-srpska/opstine/laktasi.html
    Modrica: /republika-srpska/opstine/modrica.html
    Mrkonjic Grad: /republika-srpska/opstine/mrkonjic_grad.html
    Nevesinje: /republika-srpska/opstine/nevesinje.html
    Novi Grad: /republika-srpska/opstine/novi_grad.html
    Pale: /republika-srpska/opstine/pale.html
    Prnjavor: /republika-srpska/opstine/prnjavor.html
    Rogatica: /republika-srpska/opstine/rogatica.html
    Sokolac: /republika-srpska/opstine/sokolac.html
    Srbac: /republika-srpska/opstine/srbac.html
    Srebrenica: /republika-srpska/opstine/srebrenica.html
    Teslic: /republika-srpska/opstine/teslic.html
    Ugljevik: /republika-srpska/opstine/ugljevik.html
    Zvornik: /republika-srpska/opstine/zvornik.html
    Brcko: /brcko-distrikt/
    Republika Srpska: /republika-srpska/
dataset: "bosnia-herzegovina"
---

<p class="lead">{{ content }}</p>

<p>
  <div class="span1">
    <img src="/img/republic_srpska.svg">
  </div>
  <div class="span4">
    Pogledajte potrošnju u kantonu.<br/>
    <a class="btn-link btn-small" href="/federacija-bih/index.html">
      Pogledajte potrošnju u FBiH &raquo;
    </a>
  </div>
</p>
