---
layout: bubbletree
map:
    map: /maps/entities-opstine.svg
    group: opstine
    key: name-4
urls:
    Bratunac: /republika-srpska/opstine/bratunac.html
    Brcko: /brcko-distrikt/
    Federacija Bosne i Hercegovine: /federacija-bih/
dataset: "bosnia-herzegovina"
---

<p class="lead">{{ content }}</p>

<p>
  <div class="span1">
    <img src="/img/republic_srpska.svg">
  </div>
  <div class="span4">
    Pogledajte potrošnju u kantonu.<br/>
    <a class="btn-link btn-small" href="/republika-srpska/index.html">
      Pogledajte potrošnju u FBiH &raquo;
    </a>
  </div>
</p>
